.nav-container {
  width: 100vw;
  background-color: black;
}

.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-title {
  font-family: 'Comfortaa', cursive;
  font-size: 2em;
  color: white;
  margin-left: .5em;
}

.nav-btn-container {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  margin-right: .5em;
}

.nav-btn {
  text-decoration: none;
  color: white;
}

.nav-btn:hover {
  border-bottom: 4px solid red;
  transition: .2s;
}